#header {
    background-color: rgb(42, 82, 146);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}

#footer {
    background-color: rgba(40, 41, 41);
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
}

#container {
    width: 100%;
}

#wrap {
    min-height: 100%;
    position: relative;
}

.foodtable {
    height: auto;
}

table {
    border-top: 1px dotted gray;
}

td,
th {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px dotted gray;
}
